body {
	font-family: Helvetica;
	text-align: center;
}

a {
	font-size: 18px;
	color: white;
}

#heading a {
	display: block;
	margin-bottom: 20px;
}

h1{
	font-size: 70px;
	font-weight: bold;
	color: white;
}

#heading {
	background-image: url(../images/the-flatiron-building.png);
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

#designed {
	background-image: url(../images/the-flatiron-building.png);
	font-size: 23px;
	font-weight: bold;
	color: white;
}

.footer {
	background-color: dimgray;
	color: white;
	text-align: left
}

.footer p{
	font-size: 11px;
	display: inline;
}